body {
  background: rgb(93, 93, 93);
  color: white;
}

.movieCard {
  width: 75vw;
}

@media only screen and (min-width: 900px) {
  .movieCard {
    width: 25vw;
  }
}

// .movies_container {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   flex-wrap: wrap;

//   div {
//     width: 20em;
//     img {
//       width: 20em;
//     }
//   }
// }
